.job-item-detail-container {
  background-color: #000000;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.job-item-details {
  background-color: #272727;
  border-radius: 10px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.job-item-details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.job-item-logo-name-card {
  display: flex;
  align-items: center;
  align-self: flex-start;
}

.job-item-logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.job-item-title {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0px;
}

.job-item-rating-card {
  display: flex;
  align-items: center;
  margin-top: 0px;
  height: 30px;
}

.job-item-rating-icon {
  color: #fbbf24;
  font-size: 18px;
  margin-right: 6px;
}

.job-item-rating {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
}

.job-item-location-salary-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 6px;
}

.job-item-location-employ-type-card {
  display: flex;
  align-items: center;
}

.job-item-location {
  display: flex;
  align-items: center;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  margin-right: 12px;
}

.job-item-employ-type {
  display: flex;
  align-items: center;
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
}

.job-item-package {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
}

.job-item-location-icon {
  font-size: 16px;
  margin-right: 4px;
}

.job-item-employ-icon {
  font-size: 16px;
  margin-right: 4px;
}

.horizontal-lines {
  border-color: #64748b;
  width: 100%;
}

.job-item-detail-description-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.job-description-website-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.job-item-description-heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  align-self: flex-start;
  margin-top: 12px;
  margin-bottom: 4px;
}

.job-company-website-link {
  display: flex;
  align-items: center;
  color: #6366f1;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.job-company-website-icon {
  font-size: 12px;
  font-weight: 400;
  margin-left: 8px;
}

.job-item-description {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.job-item-detail-skills-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.job-item-detail-skills-heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.job-item-detail-skills-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  list-style-type: none;
  width: 100%;
}

.job-item-detail-skill-item {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 26px;
}

.job-item-detail-skill-img {
  height: 24px;
  width: 24px;
  margin-right: 14px;
}

.job-item-detail-skill-name {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
}

.job-life-at-company-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 10px;
}

.job-life-at-company-heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}

.job-life-at-company-description-image-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.job-life-at-company-description {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

.job-life-at-company-image {
  width: 100%;
}

.job-item-detail-failure-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.job-item-detail-failure-img {
  width: 90%;
}

.job-item-detail-failure-heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 0px;
}

.job-item-detail-failure-description {
  color: #b6c5ff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 1.5;
}

.job-item-detail-failure-button {
  background-color: #4f46e5;
  border: none;
  border-radius: 4px;
  height: 40px;
  width: 100px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .job-item-details {
    margin-top: 60px;
    padding-bottom: 50px;
    margin-bottom: 30px;
  }

  .job-item-details-card {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .job-item-logo-name-card {
    display: flex;
    align-items: center;
    align-self: flex-start;
  }

  .job-item-logo {
    height: 60px;
    width: 60px;
    margin-right: 14px;
  }

  .job-item-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
  }

  .job-item-rating-card {
    display: flex;
    align-items: center;
    margin-top: 0px;
    height: 30px;
  }

  .job-item-rating-icon {
    font-size: 22px;
    margin-right: 6px;
  }

  .job-item-rating {
    font-size: 18px;
  }

  .job-item-location-salary-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 6px;
  }

  .job-item-location-employ-type-card {
    display: flex;
    align-items: center;
  }

  .job-item-location {
    font-size: 14px;
    font-weight: 400;
    margin-right: 16px;
  }

  .job-item-employ-type {
    font-size: 14px;
    font-weight: 400;
  }

  .job-item-package {
    font-size: 18px;
    font-weight: 400;
  }

  .job-item-location-icon {
    font-size: 20px;
    margin-right: 8px;
  }

  .job-item-employ-icon {
    font-size: 20px;
    margin-right: 8px;
  }

  .horizontal-lines {
    border: 1px solid #64748b;
    width: 100%;
  }

  .job-item-detail-description-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .job-description-website-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .job-item-description-heading {
    font-size: 26px;
    font-weight: 500;
    align-self: flex-start;
    margin-top: 12px;
    margin-bottom: 4px;
  }

  .job-company-website-link {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
  }

  .job-company-website-icon {
    font-size: 14px;
    font-weight: 400;
    margin-left: 8px;
  }

  .job-item-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
  }

  .job-item-detail-skills-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .job-item-detail-skills-heading {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .job-item-detail-skills-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    list-style-type: none;
    width: 100%;
  }

  .job-item-detail-skill-item {
    display: flex;
    align-items: center;
    width: 32%;
    margin-bottom: 56px;
  }

  .job-item-detail-skill-img {
    height: 50px;
    width: 50px;
    margin-right: 16px;
  }

  .job-item-detail-skill-name {
    font-size: 18px;
    font-weight: 400;
  }

  .job-life-at-company-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .job-life-at-company-heading {
    font-size: 26px;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .job-life-at-company-description-image-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .job-life-at-company-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    max-width: 660px;
    margin-right: 26px;
  }

  .job-life-at-company-image {
    width: 40%;
  }

  .job-item-detail-failure-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 80%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .job-item-detail-failure-img {
    width: 60%;
  }

  .job-item-detail-failure-heading {
    font-size: 32px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .job-item-detail-failure-description {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
  }

  .job-item-detail-failure-button {
    background-color: #4f46e5;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 100px;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
  }
}
